version: 0.1
log:
  accesslog:
    disabled: true
  level: info
  formatter: json
  fields:
    service: registry
    environment: staging
storage:
  delete:
    enabled: true
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
# auth:
#   htpasswd:
#     realm: basic-realm
#     path: /etc/docker/registry/auth/nginx.htpasswd
http:
  addr: :5000
  # host: https://docker.t.khs1994.com
  headers:
    X-Content-Type-Options: [nosniff]
  # http2:
  #   disabled: false
  # tls:
  #   certificate: /etc/docker/registry/ssl/docker.t.khs194.com.crt
  #   key: /etc/docker/registry/ssl/docker.t.khs1994.com.key
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
notifications:
  endpoints:
    - name: alistener
      disabled: true
      url: http://192.168.199.100
      # headers:
      #   Authorization: [Bearer <your token, if needed>]
      timeout: 500ms
      threshold: 5
      backoff: 1s
# proxy:
#   remoteurl: https://registry-1.docker.io
#   username: khs1994
#   password: ****
